

<div class="card card-transparent shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-120">
                <p class="fw-bold fs-5 title-text">網站介紹</p>
                大家好，我是百合中毒患者<br />
                網站使用的是<a href="https://s7514381.github.io/" target="_blank">s7514381.github.io</a>大佬自製的框架，並且協助製作而成。各位有興趣可以去參考學習。<br /><br />
                這算是個人紀錄的一個部落格提供給各位參考查詢，但是本站只介紹有女孩子之間戀愛的百合也就是GL作品，所以在本站所說的百合指的都是GL作品。希望可以讓有相同愛好的各位可以節省找尋百合作品的時間，如果有沒有收集到的作品也歡迎聯繫我!<br /><br />
                主要是漫畫類作品，包含小說的漫畫化，動畫作品也有收集在內，單純只有小說的作品就不介紹了。<br />
                pixiv以及twitter上也有許多的創作百合，但多數是短篇作品就不一一介紹了，畢竟數量繁多。這裡只介紹有商業化的也就是有連載或是出單行本並且不是短篇(至少有一本的篇幅)的作品，若是有用愛發電自行連載的也有收集。<br /><br />
                相關連結頁面有放一些平常我在用的網站供各位參考。若是有任何問題歡迎聯繫我<a href="mailto:zrobbertz@gmail.com">zrobbertz@gmail.com</a>。
            </div>
        </div>
    </div>
</div>

<div class="card card-transparent shadow-sm mb-3">
    <div class="card-header"><p class="fw-bold fs-5 title-text mb-0">最近更新</p></div>
    <div class="card-body">
        <p>2023/5/30 "ふたり部屋"次回完結!!</p>
        <pre class="fw-bold fs-25">2023/5/30 "ふたり部屋"次回完結!!</pre>
    </div>
</div>

@*<div class="card shadow-sm mb-3">
    <div class="card-header"><p class="fw-bold fs-5 title-text mb-0">最近更新</p></div>
    <div class="card-body">
        <a class="fw-bold fs-5 title-text" asp-controller="imagecoverframe" asp-action="Index">圖片框選器</a>
    </div>
</div>
*@

<script>
    component = {
        mixins: [baseMixin],
        data() {
            return {
                pageTitle: '首頁',

            }
        },
        async created() {
            //await thisApp.signIn();
        },
        methods: {

        },
    }
    var formComponent = Vue.createApp(component)
</script>
