

<div class="card card-transparent shadow-sm mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col-120">
                <p class="fw-bold fs-5 title-text">網站介紹</p>
                大家好，我是百合中毒患者<br />
                網站使用的是<a href="https://s7514381.github.io/" target="_blank">s7514381.github.io</a>大佬自製的框架，並且協助製作而成。各位有興趣可以去參考學習。<br /><br />
                算是個人的紀錄提供給各位參考查詢，但是只有女孩子之間戀愛的百合也就是GL作品。只有配角的百合作品沒有收錄。<br /><br />
                只有商業化的連載、單行本或非商業化作者自行連載的作品並且不是短篇(至少有一本的篇幅)。<br /><br />
                相關連結頁面有放一些平常我在用的網站供各位參考。若是有任何問題歡迎聯繫我<a href="mailto:zrobbertz@gmail.com">zrobbertz@gmail.com</a>。
            </div>
        </div>
    </div>
</div>

<div class="card card-transparent shadow-sm mb-3">
    <div class="card-header"><p class="fw-bold fs-5 title-text mb-0">最近更新</p></div>
    <div class="card-body">
        <p>2023/5/30 "ふたり部屋"次回完結!!</p>
        <pre class="fw-bold fs-25">2023/5/30 "ふたり部屋"次回完結!!</pre>
    </div>
</div>

@*<div class="card shadow-sm mb-3">
    <div class="card-header"><p class="fw-bold fs-5 title-text mb-0">最近更新</p></div>
    <div class="card-body">
        <a class="fw-bold fs-5 title-text" asp-controller="imagecoverframe" asp-action="Index">圖片框選器</a>
    </div>
</div>
*@

<script>
    component = {
        mixins: [baseMixin],
        data() {
            return {
                pageTitle: '首頁',

            }
        },
        async created() {
            //await thisApp.signIn();
        },
        methods: {

        },
    }
    var formComponent = Vue.createApp(component)
</script>
